.project {
  height: 100vh;
  width: 100vw;
  font-family: var(--heading-font);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer {
  z-index: 500;
  width: 60vw;
  height: 80vh;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

.projectContainer h1 {
  margin: 2vw 0;
  padding: 0 1vw;
  border-left: 1vw solid white;
  color: tomato;
  font-size: var(--desc-size);
}

.projectContent {
  flex: 1;
  margin-top: -1vw;
  display: flex;
}

.reversed {
  flex-direction: row-reverse;
}

.pictures {
  margin: 2vw 2vw 2vw 3vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  flex-grow: 1;
}

.proDesc {
  padding: 2vw;
  flex: 1;
  font-family: var(--another-font);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1vw;
  font-size: var(--short-size);
}

.shortDesc {
  margin-top: 2vw;
  font-size: var(--link-size);
  margin-bottom: 2vw;
}

.buttons {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5vw 3vw;
  border-radius: 100px;
  border: none;
  font-family: var(--heading-font);
  font-size: calc(var(--text-size) * 0.9);
  cursor: pointer;
}

.project li {
  padding: 0.2vw 0.5vw;
  list-style: none;
  padding-left: 2vw;
}

.ultitle {
  border-left: 0.2vw solid white;
  padding: 0vw 1vw;
  margin: 0.5vw;
  font-weight: bold;
}

.features {
  margin-bottom: 2vw;
}

.detailsDesc p {
  margin-bottom: 1vw;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
