.heroImg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 300vh;
  background: black;
}

.anotherImg {
  position: fixed;
  top: 0;
  height: 300%;
  width: 400%;

  background-repeat: repeat !important;
  background-size: 6%;
  background-position: 0 !important;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 20%
    ),
    url(./another.png);
  filter: contrast(0.8);
  mix-blend-mode: difference;
  /* filter: invert(1); */
  opacity: 1;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  color: var(--main-text-color);
  font-weight: bold;
  font-family: var(--heading-font);
  /* font-size: calc(2 * var(--header-size)); */
  font-size: 10vw;
  font-size: 8.2vw;
  overflow: hidden;
}

.job {
  color: var(--main-text-color);
  font-family: var(--heading-font);
  font-size: var(--link-size);
  mix-blend-mode: difference;
  opacity: 0;
  margin-bottom: 1rem;
  transform: translateX(20vw);
}

.heroCenter {
  margin: auto;
  width: 35vw;
  height: 60vh;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroCenter .text {
  width: 15vw;
  height: 100%;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 103;
}

.nameContainer {
  margin-top: 5vw;
}
.heroCenter .image {
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 102;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.jobs {
  z-index: 101;
  width: 15vw;
  overflow: hidden;
}
