.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: red; */

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  z-index: 990;

  color: var(--main-text-color);
  font-family: var(--heading-font);
  font-size: calc(var(--link-size) / 1.2);
  list-style: none;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navi li {
  cursor: pointer;
  padding: 0.5rem 2rem;
  position: relative;
  /* overflow: hidden; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 100% 200%;
  background-position: 0 100%;
  border-radius: 100px;
}

.socials li,
.pdf {
  cursor: pointer;
  font-size: var(--desc-size);
  padding: 0.5rem;
}

li {
  text-decoration: none;
  color: white;
}
