::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-text-color);
}

.App {
  visibility: hidden;
}

.slider {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 1000;
}
