@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: norm;
  src: url(./assets/fonts/NORMT___.TTF);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

:root {
  --main-bg-color: black;
  --mid-color: tomato;
  --main-text-color: white;

  --multiplier: 0.7vw;

  --short-size: calc(var(--multiplier) * 1.6);
  --text-size: calc(var(--multiplier) * 1.8);
  --link-size: calc(var(--multiplier) * 2);
  --desc-size: calc(var(--multiplier) * 3);
  --title-size: calc(var(--multiplier) * 4);
  --header-size: calc(var(--multiplier) * 8);

  /* --heading-font: norm, serif; */
  --another-font: "Montserrat", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

.my__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  /* color: var(--main-text-color); */
  color: var(--mid-color);
  font-family: var(--heading-font);
  font-size: var(--title-size);
  border-bottom: 0.2vw solid var(--main-text-color);
  margin-top: 5vw;
  font-weight: bold;
}

.my__links {
  justify-content: space-around;
  flex-direction: row;
}

.texts {
  font-family: var(--heading-font);
  font-size: var(--text-size);
  color: var(--main-text-color);
}
