* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: norm;
  src: url(./assets/fonts/NORMT___.TTF);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

:root {
  --main-bg-color: black;
  --mid-color: tomato;
  --main-text-color: white;

  --multiplier: 0.7;

  --text-size: calc(var(--multiplier) * 1.8rem);
  --link-size: calc(var(--multiplier) * 2rem);
  --desc-size: calc(var(--multiplier) * 3rem);
  --title-size: calc(var(--multiplier) * 4rem);
  --header-size: calc(var(--multiplier) * 8rem);

  --heading-font: norm, serif;
}

.my__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  /* color: var(--main-text-color); */
  color: var(--mid-color);
  font-family: var(--heading-font);
  font-size: var(--title-size);
  border-bottom: 0.2rem solid var(--main-text-color);
  margin-top: 5rem;
  font-weight: bold;
  z-index: 1;
}

.my__links {
  justify-content: space-around;
  flex-direction: row;
}

.texts {
  font-family: var(--heading-font);
  font-size: var(--text-size);
  color: var(--main-text-color);
}
